.enemy {
  background-image: url("../images/enemy1sprite.png");
  height: 50px;
  width: 128px;
  position: absolute;
  z-index: 50;
}

.weapon{
  background-image: url("../images/missile-sprite.png");
  width: 96px;
  height: 23px;
  position: absolute;
}

.user {
  background-image: url("../images/userPlaneSpriteNew.png");
  height: 50px;
  width: 128px;
  position: absolute;
  z-index: 51;
}

.destroy {
  background-image: url("../images/explosion.gif");
  height: 49px;
  width: 35px;
  position: absolute;
  z-index: 52;
}

.enemyWeapon {
  background-image: url("../images/enemyMissile.png");
  width: 60px;
  height: 20px;
  position: absolute;
}

.userDestroy {
  background-image: url("../images/explosion2.gif");
  height: 200px;
  width: 142px;
  position: absolute;
  z-index: 52;
}

#scoreDiv {
  text-align: center;
  border: black solid 10px;
  margin: 0px auto;
  width: 250px;
  padding: 12px;
  margin-top: 20px;
  background-color: orange;
  opacity: .88;
}

#scoreDiv h2, #gameOver h2{
  font-family: "Renegado", sans-serif;
  font-size: 3em;
  margin: 5px;
  padding: 5px;
}

#scoreDiv span{
  font-family: font-family: "Renegado", sans-serif;
  font-size: 2.5em;
}
