.user {
  background-image: url("../images/userPlaneSpriteNew.png");
  height: 50px;
  width: 128px;
  position: absolute;
}

.enemy{
  background-image: url("../images/enemyPlaneSprite.png");
  height: 50px;
  width: 128px;
  position: absolute;
}
