.enemy {
  background-image: url("../images/enemy1sprite.png");
  height: 50px;
  width: 128px;
  position: absolute;
  z-index: 50;
}

.weapon{
  background-image: url("../images/missile-sprite.png");
  width: 96px;
  height: 23px;
  position: absolute;
}

.user {
  background-image: url("../images/userPlaneSpriteNew.png");
  height: 50px;
  width: 128px;
  position: absolute;
  z-index: 51;
}

.destroy {
  background-image: url("../images/explosion2.gif");
  height: 200px;
  width: 142px;
  position: absolute;
  z-index: 52;
}

.enemyWeapon {
  background-image: url("../images/enemyMissile.png");
  width: 60px;
  height: 20px;
  position: absolute;
}
